{% extends 'crm/base.html' %}

<html>

{% block content %}

    <h3>Homepage!</h3>

    <p> Welcome to my website</p>

    <h5>My first name is {{first_name}}</h5> <!-- first_name is key of a dictionary passed from view.py file-->
                                            <!-- when it calls render(), so that this template can receive it-->
                                            <!-- and then print it-->

    {% if first_name == "John Doe" %}

        <h5> Hello John Doe </h5>
        
    {% else %}

        <h5> Access denied</h5>

    {% endif %}

    

{% endblock %}

</html>